.footer {
  width: 100%;
  padding: 10px 20px;

  border-top: 1px solid #eeeeee;
  background-color: #ffffff;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
}

.footer p {
  margin: 0;

  color: #888888;
  font-size: 12px;
}

.tmdb-logo {
  width: 50px;
  height: auto;
}
